#con {
  background-color: linear-gradient(#e80a89 0%, #f15b2a 100%);
}
#term {
  width: 200px;
  /* border: none; */
  border-radius: 7px;
  height: 35px;
  font-size: 20px;
  /* color: white; */
  /* background-image: linear-gradient(to right, #e80a89 0%, #f15b2a 100%); */
}
#term > option {
  color: black;
}
#head {
  background: linear-gradient(#e80a89 0%, #f15b2a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
input {
  font-size: 20px;
  border: none;
  border-bottom: 2px solid black;
}
#grade {
  font-size: 18px;
  /* width: ; */
}
input:focus {
  outline: none;
}
#label {
  padding-left: 5px;
  padding-right: 5px;
}
