.heading {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
#table {
  width: 98%;
  margin: auto;
  overflow-x: auto;
}
.term {
  font-weight: bold;
  text-transform: uppercase;
}
#working {
  margin-left: 20px;
}
@media print {
  .nikal {
    display: none !important;
  }
}
